
body {
     margin: 0;
     padding: 0;
     font-family: 'Exo 2', sans-serif;
     background-color: #2E2E2E;

}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(75vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 150px;
}

.header{
   height: var(--tamanho-header);
   border-bottom: 6px solid #23CE68;
   background-color: #ffff;

}
.header img{
    height: 50px;
 }

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}


.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a{
    text-decoration: none;
    color: black;
}

.agora{
    font-weight: 800;
}

.navbar{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    

}

.imagem{
    height: var(--tamanho-banner);
    width: 35%;
    color: black;
    margin-top: 30px;
    padding-right: 20px;
    margin-left: 100px;
    margin-bottom: 5%;
    background-image: url('../img/Aitana.png');
    background-size: cover;
    border-radius: 8px;
}


.imagem2{
    height: var(--tamanho-banner);
    width: 43%;
    color: black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5%;
    background-image: url('../img/messi.png');
    background-size: cover;
    border-radius: 8px;
}


.footer {
    background-color: #ffff;
    height: var(--tamanho-footer);
    color: #000;
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    font-size: 15px;
    border-top: 6px solid #23CE68;
}

.footer .container{
    justify-content: center;
    
}
.footer img{
    height: 50px;
 }

  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.social {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: 6px solid #23CE68;
    border-radius: 8px;
    width: 40%; 
    padding: 20px;
    
}

.boxes {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    width: 100%; 
    text-align: left; 
    padding: 10px; 
    margin-left: 120px;
}

.botao {
    color: black;
    background-color: #23CE68;
    border: none;
    border-radius: 5px;
    width: 40%; 
    padding: 10px; 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 60px;
}

input {
    width: 70%;
    padding: 10px;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #23CE68;
    border-radius: 5px;
    box-sizing: border-box;
}

.titulo {
    color: #23CE68;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.loading-div {

    display: none;

  }
  
#div_erros_login {
    display: none
  }
  
 
 
  

  

  
  