
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body {
  color: white;
  font-size: 16px;
}

:root {
  --cor-destaque: #23CE68; 
  --cor-fundo-painel: #e5e5e5; 
  --cor-fundo-dark: #2E2E2E; 
  --cor-fundo-branco: #fff; 
  --cor-borda: #23CE68; 
  --espaco-padrão: 20px; 
  --altura-header: 80px;
}


.janela {
  display: flex;
  height: 100vh; 
  background-color: var(--cor-fundo-dark);
  padding: var(--espaco-padrão);

}


.header-left {
  background-color: var(--cor-fundo-branco);
  width: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  border-right: 6px solid var(--cor-destaque);
}

.header-left img {
  height: 50px;
}

.hello h3 {
  color: #2E2E2E;
  text-align: center;
  font-weight: 300;
}


.header-left .btn-logout {
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.header-left .btn-logout {
  background-color: var(--cor-destaque);
  color: white;
}


.dash {
  display: flex;
  flex-direction: column;
  padding: var(--espaco-padrão);
  background-color: var(--cor-fundo-painel);
  border-left: 6px solid var(--cor-destaque);
  flex-grow: 1; /* Painel cresce */
  height: calc(100vh - 40px);
  box-sizing: border-box;
}


#graficos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-grow: 1; /* Painel cresce */
}

span {
  color: #121212;
}
#myChartCanvas {
  width: 750px; 
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.graph {
  width: 100%;
  max-width: 1300px; 
  margin: 20px auto;
  background-color: var(--cor-destaque);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#mensagemFeminino,
#mensagemMasculino {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  max-width: 80%; 
  margin: 10px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--cor-borda);
  background-color: var(--cor-destaque);
}


